# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Flask instance folder
instance/

# Environment variables
.env

# PDF files
pdfs/

run_flask.bat
run_flask.vbs

# log files
*.log
task_log.txt